<ion-content padding class="login__background">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
    <!-- <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <div text-center>
        If you don't have an account, please <a routerLink='/register'>
          register</a> first!
          </div>
      </ion-row>
    </ion-grid> -->

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <ion-img src="/assets/logo_incor_stroke.svg" class="home__logo" style="stroke: black;"></ion-img>
          </div>
          <div class="home__input__wrapper">
            
              <ion-input type="text" placeholder="Email" text-center class="home__input"  formControlName="email">
                <!-- <ion-icon name="person"></ion-icon> -->
              </ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                      <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
              <ion-input type="password" placeholder="Senha" text-center class="home__input" formControlName="password"  required>
                <!-- <ion-icon name="lock"></ion-icon> -->
              </ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                      {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
          </div>

          <div>
            <ion-button fill="outline" size="large" href="" expand="block" class="home__button" type="submit"  [disabled]="!validations_form.valid">Entrar</ion-button>
            <label class="error-message">{{errorMessage}}</label>
          </div>

          <div>
            <ion-button fill="outline" size="medium" href="" expand="block" class="home__button home__button-small">Esqueci a senha</ion-button>
          </div>

          <div padding style="margin-top: 30px;">
            <p text-center>Não tem cadastro?</p>
            <ion-button fill="outline" size="large" href="" expand="block" class="home__button" routerLink='/register'>Cadastre-se</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>