<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Mensagens personalizadas</ion-label>
    </ion-list-header>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Relatório</ion-card-subtitle>
        <ion-card-title>Avaliações da semana passada</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content> -->
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Dúvidas</ion-card-subtitle>
        <ion-card-title>Posso usar micro-ondas?</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Mensagens gerais</ion-label>
    </ion-list-header>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Exercite-se</ion-card-subtitle>
        <ion-card-title>Lista com exercícios recomendados</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Informe-se</ion-card-subtitle>
        <ion-card-title>Mitos e verdades</ion-card-title>
      </ion-card-header>

    </ion-card>
  </ion-list>
    
</ion-content>
